/* App */
.hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero .hero-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.hero .hero-text h1{
  font-size: 3rem;
}
.hero .hero-text p{
  font-size: 1.5rem;
}
.hero img{
  width: 400px;
  min-width: 300px;
}

.features-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

.features-container .feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* Scholarship Card */
.scholarships-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

.scholarships-container .card{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.scholarships-container .card h2{
  font-size: 1.2rem;
  text-align: left;
}

.scholarships-container .card .tags{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.scholarships-container .card .tags .tag{
  font-size: 0.8rem;
  border: solid 1px black;
  padding: 5px 10px;
  border-radius: 16px;
  background-color: var(--supp-color);
}

.scholarships-container .card span{
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

.scholarships-container .card .btn{
  padding: 10px 15px;
  align-self: center;
  margin-top: auto;
}

@media screen and (max-width: 600px) {
  .hero{
    flex-direction: column;
    justify-content: flex-start;
  }
  .hero .hero-text{
    width: 100%;
  }
  .hero .hero-text h1{
    font-size: 2.5rem;
  }
  .hero .hero-text .btn{
    margin: auto;
  }
  .hero img{
    margin-top: 100px;
    width: 300px;
  }

}
